**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/test_build
**/.tmp-build
**/secrets.dev.yaml
**/values.dev.yaml
test_insert*.xlsx
Test_Chart_Fix.xlsx
ColdChainX_System_Test_Report_*.xlsx
test_hl*.zip
*.log
TestResults_*.json
data_v*.json
!ColdChainX.API/Templates/**/*.xlsx
!ColdChainX.Application/Templates/**/*.xlsx
!ColdChainX.Infrastructure/Templates/**/*.xlsx
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
